.main-container{
    margin: 30px;
    background-color: rgb(247, 240, 240);
    
}


.navbar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    top: 4px;
}


 .navbar a{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: black;
   
}

.navbar a:hover{
    color: white; 
    border-radius: 5px;
    background-color: blueviolet;
}

.img-section{
    height:400px;
    width: 97%;
    border: 1px solid white;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    
}
/* data-section */
.data-section{
    display: flex;
flex-direction: row ;
}

.course{
    height: 40px;
    width: 200px;
    background-color: palevioletred;
    color: blue;
    text-align: left;
    align-content: center;
    padding-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 14px;
}
span{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: blue;
    color: white;
}
.d-s-t{
    color: palevioletred;
    font-size: 40px;
    margin: 10px;
}
.d-s-t p{
    color: gray;
    font-size: 30px;
   margin-top: -2px;
}
.user-name{
    height: 30px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
.user-name p{
    align-items: center;
    margin: 5px;
}
.data-section-2{
    margin-top: -18px;
    margin-left: 15px;
}
.data-section-2 h2{
font-size: 40px;
color: gray;
}
.data-section-2 li ,
p{
    line-height: 30px;
}

button{
    color: rgb(216, 72, 120);
    border-radius: 5px;
}


/* img slider */
.img-section{
    display: flex;
    flex-direction: row;
    
}

/* .img-sec{
    height: 200px;
    width:100%;
    background-color: gray;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    padding: 10px;
} */

.img-slider{
    height: 300px;
    width:900px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-top: 20px;
}
.other-img-section{
    height: 90%;
    width: 400px;
    border: 1px solid black;
    margin: 10px;
}
.img{
    height: 60%;
    width: 250px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
}
h4 
, h5{
 text-align: center;
 line-height: 8px;
 color: rgb(81, 51, 82);
}

.img-section button{
    height: 50px;
    width:40px ;
    margin-top: 130px;
    margin-right: -55px;
    margin-left: 13px ;
}

.music-button{
    margin-top: 20px;
    margin-left: 150px;
}

footer{
    height: 100px;
    width: 100%;
    background-color: dimgray;
}
footer p{
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    justify-content: center;
  padding-top:20px;
  line-height: 7px;
}
#btn{
    height: 50px;
    width: 130px;
    border-width: 4px;
    font-size: 25px;
        font-weight: bold;
        color: #6b6161;
        cursor: pointer;
        margin-top: 10px;
}
#btn:active{
    font-size: 22px;

}
